{{deinfe "content"}}
    <ul>
        <li>
            <p class="text_size_200">
                <b>Karteikasten erstellen / Karteikasten bearbeiten</b>
            </p>
        </li>
        <li>
            <p>
                Hier kannst du eine neue Kartei erstellen oder eine vorhandene nach Bedarf bearbeiten.
                <br>
                <br>
            </p>
        </li>
        <li>
            <div class="has-background-white is-paddingless" style="width:100%">
                <ul>
                    <li>
                            <div class="has_background_primary_green is-marginless" style="height:5px;">
                            </div>
                    </li>
                    <li>
                        <div class="columns" style="padding: 1% 1% 1% 1%">
                            <div class="column is-2">
                                <ul>
                                    <li>
                                        <p>Name</p>
                                    </li>
                                    <li>
                                        <p class="text_size_120">Geometrie</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="column is-4">
                                <ul>
                                    <li>
                                        <p>Kategorie</p>
                                    </li>
                                    <li>
                                        <p class="text_size_120">Naturwissenschaften --> Mathematik</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="column is-2">
                                <ul>
                                    <li>
                                        <p>Fortschrritt</p>
                                    </li>
                                    <li>
                                        <p class="text_size_120">0%</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="column is-2 is-paddingless">
                                    <div class="columns is-marginless is-paddingless">
                                        <div class="column is-7">
                                            <ul>
                                                <li>
                                                    <p>Wiederholung</p>
                                                </li>
                                                <li>
                                                    <p>Karten</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="column is-1">
                                            <ul>
                                                <li>
                                                    <p>0</p>
                                                </li>
                                                <li>
                                                    <p><b>5</b></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="column is-1">
                                            <ul>
                                                <li>
                                                    <p>1</p>
                                                </li>
                                                <li>
                                                    <p><b>6</b></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="column is-1">
                                            <ul>
                                                <li>
                                                    <p>2</p>
                                                </li>
                                                <li>
                                                    <p><b>2</b></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="column is-1">
                                            <ul>
                                                <li>
                                                    <p>3</p>
                                                </li>
                                                <li>
                                                    <p><b>1</b></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="column is-1">
                                            <ul>
                                                <li>
                                                    <p>4</p>
                                                </li>
                                                <li>
                                                    <p><b>0</b></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-2" style="margin-left: 5%">
                                    <div class="hexagon is-paddingless" style="max-height: 100%">
                                        <p style="color:white; text-align: center">23</p>
                                    </div>	
                                </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <br>
            <br>
        </li>
        <li>
            <div class="columns is-marginless is-centered">
                <div class="column is-four-fifths">
                    <ul>
                        <li>
                                <div class="has_background_primary_green is-marginless" style="height:5px;">
                                </div>
                        </li>
                        <li class="has-background-white is-marginless">
                            <div class="columns is-marginless">
                                <div class="column is-2" style="text-align: rigth;">
                                    <p>Titel</p>
                                </div>
                                <div class="column is-5"> 
                                    <p>Titel der Karte</p> 
                                </div>
                                <div class="column is-1">
                                    <div class="hexagon_2 is-paddingless" style="max-height: 100%">
                                        <p style="color:white; text-align: center">1</p>
                                    </div>	
                                </div>
                                <div class="column is-1">
                                    <div class="hexagon is-paddingless" style="max-height: 100%">
                                        <p style="color:white; text-align: center">2</p>
                                    </div>	
                                </div>
                                <div class="column is-1">
                                    <div class="hexagon_2 is-paddingless" style="max-height: 100%">
                                        <p style="color:white; text-align: center">3</p>
                                    </div>	
                                </div>
                                <div class="column is-1">
                                    <div class="hexagon_2 is-paddingless" style="max-height: 100%">
                                        <p style="color:white; text-align: center">4</p>
                                    </div>	
                                </div>
                                <div class="column is-1">
                                    <div class="hexagon_2 is-paddingless" style="max-height: 100%">
                                        <p style="color:white; text-align: center">5</p>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li class="has-background-white is-marginless">
                            <div class="columns is-marginless">
                                <div class="column is-2" style="text-align:right;">
                                    <p>Frage</p>
                                </div>
                                <div class="column is-10">
                                    <p>
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="has-background-white is-marginless">
                            <div class="columns is-marginless">
                                <div class="column is-2" style="text-align:right;">
                                    <p>Antwort</p>
                                </div>
                                <div class="column is-10" style="text-align:center;">
                                    <p><br></p>
                                    <a href="eingeloggt_lernen_02">
                                        <p class="button" style="min-width:50% ; background-color: #F7B731; color: white;">Aufdecken</p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="has-background-white is-marginless">
                            <div style="text-align:right; padding:2% 2% 2% 2%;">														
                                <p class="button" style="background-color: #F7B731; color: white;">Überspringen</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
{{end}}