{{define "content"}}
    <p class="text_size_300">  
        Registrieren
    </p>
    <div class="columns inner_window has-background-white is-marginless">
        <ul>
            <li>
                <p style="margin-left: 1%">Wir freuen uns, dass du dich bei BraunTrain anmelden möchtest. Bitte beachte, dass 
                    <b>pro E-Mail Adresse nur ein Nutzer </b>
                    erstellt werden kann und jeder 
                    <b>Nutzername nur einmal vergeben </b>
                    wird.
                    <br>
                </p>
            </li>
            <li>
                <br>
            </li>
            <li>
                <ul>
                    <li>
                        <div class="columns">
                            <div class="column is-one-quarter" style="text-align: right">
                                <p>Nutzername</p>
                            </div>
                            <div class="column is-one-half">
                                <input type="text">
                            </div>
                            <div class="column is-one-quarter" style="margin-right:2%">
                                <p class="has_background_primary_red text_size_80" style="color:white">Dieser Nutzername ist bereits vergeben!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="columns">
                            <div class="column is-one-quarter" style="text-align: right">
                                <p>E-Mail</p>
                            </div>
                            <div class="column is-one-half">
                                <input type="email">
                            </div>
                            <div class="column is-one-quarter" style="margin-right:2%">
                                <p class="has_background_primary_red text_size_80" style="color:white">Diese Mail ist bereits vergeben!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="columns">
                            <div class="column is-one-quarter" style="text-align: right">
                                <p>Passwort</p>
                            </div>
                            <div class="column is-one-half">
                                <input type="password">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="columns">
                            <div class="column is-one-quarter" style="text-align: right">
                                <p>Passwort wiederholen</p>
                            </div>
                            <div class="column is-one-half">
                                <input type="password">
                            </div>
                            <div class="column is-one-quarter" style="margin-right:2%">
                                <p class="has_background_primary_red text_size_80" style="color:white">Die Passwörter stimmen nicht überein!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="columns">
                    <div class="column is-one-quarter" style="text-align: right">
                    </div>
                    <div class="column is-two-half">
                        <input type="checkbox" name="" id="">Ich habe die nicht vorhandene Datenschutzerklärung zur Kentniss genommen.						
                    </div>
                    <div class="column is-one-quarter" style="margin-right:2%">
                        <p class="has_background_primary_red text_size_80" style="color:white">Bitte setzen Sie hier einen Haken!</p>
                    </div>
                </div>
            </li>
            <div class="columns">
                <div class="column is-one-quarter" style="text-align: right">
                </div>
                <div class="column is-two-half">
                    <p class="button" style="background-color: #F7B731; color: white;">Registrieren</p>						
                </div>
            </div>
            <li>

            </li>	
        </ul>
    </div>
{{end}}