{{define "content"}}
    <div class="columns inner_window has-background-white is-marginless">
        <div class="column" style="text-align: center;">
                <p class="text_Inline text_size_400">Willkommen bei&nbsp;</p><p class="text_Brain text_Inline text_size_400">Brain</p><p class="text_Train text_Inline text_size_400">Train</p>
                <br>
                <br>
                <p class="text_size_200">Hier haben sich <b>32 Nutzer</b> angemeldet und zusammen <b>124 Lernkarten</b> in <b>22 Karteien</b> erstellt.</p>
        
            </div>
    </div>
{{end}}