{{define "content"}}
    <ul>
        <li>
            <p class="text_size_200">
                <b>Karteikasten erstellen / Karteikasten bearbeiten</b>
            </p>
        </li>
        <li>
            <p>
                Hier kannst du eine neue Kartei erstellen oder eine vorhandene nach Bedarf bearbeiten.
                <br>
                <br>
            </p>
        </li>
        <li>
            <div class="has-background-white is-paddingless" style="width:100%">
                <ul>
                    <li>
                            <div class="has_background_primary_green is-marginless" style="height:5px;">
                            </div>
                    </li>
                    <li>
                        <div class="columns" style="padding: 1% 1% 1% 1%">
                            <div class="column is-2">
                                <ul>
                                    <li>
                                        <p>Name</p>
                                    </li>
                                    <li>
                                        <p class="text_size_120">Geometrie</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="column is-4">
                                <ul>
                                    <li>
                                        <p>Kategorie</p>
                                    </li>
                                    <li>
                                        <p class="text_size_120">Naturwissenschaften --> Mathematik</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="column is-2">
                                <ul>
                                    <li>
                                        <p>Fortschrritt</p>
                                    </li>
                                    <li>
                                        <p class="text_size_120">0%</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="column is-2">
                                <p class="button" style="background-color: #2ECC71; color: white;">Bearbeiten</p>
                            </div>
                            <div class="column">
                                <div class="hexagon is-paddingless" style="max-height: 100%">
                                    <p style="color:white; text-align: center">23</p>
                                </div>	
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <br>
            <br>
        </li>
        <li>
            <div class="columns">
                <div class="column is-one-third is-paddingless " style="margin: 0 1% 0 1%" >
                    <ul>
                        <li>
                            <ul>
                                <li class="is-marginless has-background-white">
                                    <div class="has_background_primary_green" style="height:5px;"></div>
                                </li>
                                <li class="has-background-white" style="padding: 1% 1% 1% 1%">
                                    <p>#1</p>
                                </li>
                                <li class="has-background-white" style="padding: 1% 1% 1% 1%">
                                    <p>Titel der Karte</p>
                                </li>
                                <li>
                                    <div class="columns has-background-white is-marginless">
                                        <div class="column is-two-fifths"></div>
                                        <div class="column is-two-fifths">
                                            <p class="button" style="background-color: #2ECC71; color: white;">Bearbeiten</p>
                                        </div>
                                        <div class="column is-one-fifth">
                                            <img class="button" style="min-height: 100%; background-color: #E74C3C; color: white;" src="/icons/Delete.svg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><br></li>
                        <li>
                                <ul>
                                    <li class="is-marginless has-background-white">
                                        <div class="has_background_primary_green" style="height:5px;"></div>
                                    </li>
                                    <li class="has-background-white" style="padding: 1% 1% 1% 1%">
                                        <p>#2</p>
                                    </li>
                                    <li class="has-background-white" style="padding: 1% 1% 1% 1%">
                                        <p>Titel der Karte</p>
                                    </li>
                                    <li>
                                        <div class="columns has-background-white is-marginless">
                                            <div class="column is-two-fifths"></div>
                                            <div class="column is-two-fifths">
                                                <p class="button" style="background-color: #2ECC71; color: white;">Bearbeiten</p>
                                            </div>
                                            <div class="column is-one-fifth">
                                                <img class="button" style="min-height: 100%; background-color: #E74C3C; color: white;" src="/icons/Delete.svg"/>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                        </li>
                        <li><br></li>
                        <li>
                            <ul>
                                <li class="is-marginless has-background-white">
                                    <div class="has_background_primary_green" style="height:5px;"></div>
                                </li>
                                <li class="has-background-white" style="padding: 1% 1% 1% 1%">
                                    <p>#3</p>
                                </li>
                                <li class="has-background-white" style="padding: 1% 1% 1% 1%">
                                    <p>Titel der Karte</p>
                                </li>
                                <li>
                                    <div class="columns has-background-white is-marginless">
                                        <div class="column is-two-fifths"></div>
                                        <div class="column is-two-fifths">
                                            <p class="button" style="background-color: #2ECC71; color: white;">Bearbeiten</p>
                                        </div>
                                        <div class="column is-one-fifth">
                                            <img class="button" style="min-height: 100%; background-color: #E74C3C; color: white;" src="/icons/Delete.svg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="column is-two-third is-paddingless" style="margin: 0 1% 0 1%" >
                    <ul>
                        <li class="is-marginless has-background-white">
                            <div class="has_background_primary_green is-marginless" style="height:5px;"></div>
                        </li>
                        <li class="is-marginless has-background-white">
                            <br>
                        </li>
                        <li class="is-marginless has-background-white">
                            <div class="columns is-marginless">
                                <div class="column is-2" style="text-align: rigth;">
                                    <p>Titel</p>
                                </div>
                                <div class="column is-10"> 
                                    <input type="text" style="width:100%"> 
                                </div>
                            </div>
                        </li>
                        <li class="is-marginless has-background-white">
                            <div class="columns is-marginless">
                                <div class="column is-2" style="text-align: rigth;">
                                    <p>Frage</p>
                                </div>
                                <div class="column is-10"> 
                                        <textarea id="textarea_frage" class="textarea" placeholder=""></textarea>
                                </div>
                            </div>
                        </li>
                        <li class="is-marginless has-background-white">
                            <div class="columns is-marginless">
                                <div class="column is-2" style="text-align: rigth;">
                                    <p>Antwort</p>
                                </div>
                                <div class="column is-10"> 
                                        <textarea id="textarea_antwort" class="textarea" placeholder=""></textarea>
                                </div>
                                <script>
                                        var simplemde = new SimpleMDE({ element: document.getElementById("textarea_frage") });
                                        var simplemde2 = new SimpleMDE({ element: document.getElementById("textarea_antwort") });
                                </script>
                        
                            </div>
                        </li>
                        <li class="is-marginless has-background-white">
                            <div class="columns">
                                <div class="column is-6">
                                    <p class="button" style="background-color: #F7B731; color: white;">Speichern</p>
                                </div>
                                <div class="column is-6">
                                    <p class="button has_background_primary_red" style="color: white;">Abbrechen</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
{{end}}