{{define "content"}}
    <ul>
        <li>
            <p class="text_size_200"><b>Mein Profil</b></p>
        </li>
        <li>
            <p>Hier kannst du deine Profildaten aktualisieren oder ändern.</p><br>
        </li>
        <li>
            <div class="columns" style="margin: 0 2% 0 2%;">
                <div class="column is-paddingless has-background-white is-3"  style="margin: 0 2% 0 2%;">
                    <ul>
                        <li >
                            <ul>
                                <li class="is-marginless has-background-white">
                                    <div class="has_background_primary_green" style="height:5px;"></div>
                                </li>
                                <li>
                                    <div class="columns is-marginless">
                                        <div class="column is-one-third">
                                        </div>
                                        <div class="column is-one-third">
                                            <img src="Icons/Mein-Profil.svg" style="border-radius: 50%; background-color: #34495E; max-width: 100%;">
                                        </div>
                                    </div>
                                </li>
                                <li style="text-align:center">
                                    <p class="button" style="background-color: #F7B731; color: white;">Edit</p>
                                </li>
                                <li style="text-align:center">
                                    <br>
                                    <p class="text_size_200">Max Mustermann</p>
                                </li>
                                <li style="text-align:center">
                                    
                                    <p>mustermann@example.com</p>
                                </li>
                            </ul>
                        </li>
                        <li class="has_background_primary_grey"><br></li>
                        <li>
                            <ul>
                                <li class="is-marginless has-background-white">
                                    <div class="has_background_primary_green" style="height:5px;"></div>
                                </li>
                                <li>
                                    <p>Statistik</p>
                                </li>
                                <li style="text-align:center">
                                    <div class="columns" style="text-align:left">
                                        <div class="column is-6">
                                            <ul>
                                                <li>
                                                    <p class="text_size_80">Erstellte Karten:</p>
                                                </li>
                                                <li>
                                                    <p class="text_size_80">Erstellte Karteien:</p>
                                                </li>
                                                <li>
                                                    <p class="text_size_80">Mitglied seit:</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="column is-6">
                                            <ul>
                                                <li>
                                                    <p class="text_size_80">24</p>
                                                </li>
                                                <li>
                                                    <p class="text_size_80">7</p>
                                                </li>
                                                <li>
                                                    <p class="text_size_80">24.12.2018</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="column is-paddingless has-background-white is-8"  style="margin: 0 2% 0 2%;">
                    <ul>
                        <li class="is-marginless has-background-white">
                            <div class="has_background_primary_green" style="height:5px;"></div>
                        </li>
                        <li>
                            <p class="text_size_120" style="margin-left: 2%;">Update der Profildaten</p>
                        </li>
                        <li>
                            <div class="columns is-marginless">
                                <div class="column is-4" style="text-align:right">
                                    <ul>
                                        <li>
                                            <p>Neue E-Mail</p>
                                        </li>
                                        <li>
                                            <br>
                                        </li>
                                        <li>
                                            <p>Altes Passwort</p>
                                        </li>
                                        <li>
                                            <p>Neues Passwort</p>
                                        </li>
                                        <li>
                                            <p>Passwort Wiederholen</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="column is-4">
                                        <ul>
                                            <li>
                                                <input type="email" style="width:100%;">
                                            </li>
                                            <li>
                                                <br>
                                            </li>
                                            <li>
                                                <input type="password" style="width:100%;">
                                            </li>
                                            <li>
                                                <input type="password" style="width:100%;">
                                            </li>
                                            <li>
                                                <input type="password" style="width:100%;">
                                            </li>
                                        </ul>
                                </div>
                                <div class="column is-4">
                                                                    
                                </div>
                            </div>
                        </li>
                        <li><br></li>
                        <li style="text-align: center;">
                                <p class="button" style="background-color: #F7B731; color: white;">Speichern</p>
                                <img class="button  has_background_primary_red" style="color: white; display:inline" src="Icons/Delete.svg">
                        </li>
                            <!-- POPUP -->
                            <div class="modal is-active">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Löschen</p>
                                    <button class="delete" aria-label="close"></button>
                                </header>
                                <section class="modal-card-body">
                                    <p> Bist du dir sicher, dass du dein Profil Löschen möchtest?</p>
                                </section>
                                <footer class="modal-card-foot">
                                    <a href="eingeloggt_04_meinprofil.html" class="button is-success">Profil behalten</a>
                                    <a href="ausgeloggt_01_startseite.html"class="button is-danger">Profil Löschen</a>
                                </footer>
                                </div>
                            </div>	
                        
                    </ul>
                </div>
            </div>
        </li>
    </ul>
{{end}}