{{ define "content" }}

	<div class="columns">
								
							
						  	<div class="column has-background-light Content_Box is-paddingless">
								<div class="green_line"></div>
								<h1 class="text_Willkommen"><nobr>Willkommen bei <h1 class="text_Braintrain"><b>Brain</b>Train</h1></nobr></h1>
								<h1 class="text_first_info"> <br>Hier haben sich <b>{{.Nutzer}} Nutzer</b> angemeldet und <br> zusammen <b>{{.Lernkarten}} Lernkarten</b> in <b>{{.Karteien}} Karteien</b> <br> erstellt</h1>
							</div>
	</div>

{{ end }}