{{ define "content" }}

		    <h1 class="text_headline">Lernen</h1>
					    <p>Hier wird dir zufällig eine Karteikarte aus der gewählten Kartei angezeigt.</p>
						  	
						  <div class="has_background_light uebersicht" >
							  <div class="green_line"></div>
							  
							  <div class="columns">
							  		<div class="column is-2">
								  		<p  class="card_number">Name</p>
										<h1 class="card_titel">{{.Name}}</h1>
								  	</div>
								  
								  	<div class="column">
								  		<p  class="card_number">Kategorie</p>
										<h1 class="card_titel">{{.Kategorie}}<i class="fas fa-caret-right"></i> Mathematik</h1>					  
								  	</div>
								  
								  
								  	
								  <div class="column is-1">
								  	  <p class="card_number">Fortschritt</p>
								  	  <h1 class="card_titel">{{.Fortschritt}}%</h1>
								  </div>
								  
								  	<div class="column is-4" style="padding-left: 5%">
										<div class="columns">
											<div class="column is-5 wd_column"><p class="card_number">Wiederholung</p></div>
											<div class="column wd_column">0</div>
											<div class="column wd_column">1</div>
											<div class="column wd_column">2</div>
											<div class="column wd_column">3</div>
											<div class="column wd_column">4</div>
										</div>
										
										<div class="columns">
											<div class="column is-5 card_column is-paddingless"><p class="card_number">Karten</p></div>
											<div class="column card_column " style="font-weight: bold;">3</div>
											<div class="column card_column" style="font-weight: bold;">6</div>
											<div class="column card_column" style="font-weight: bold;">5</div>
											<div class="column card_column" style="font-weight: bold;">1</div>
											<div class="column card_column" style="font-weight: bold;">0</div>
										</div>
										
										
										
								  	  
								  	  <p class="card_titel"></p>
								  	</div>
								  
								  <div class="column is-1 is-paddingless">
								  				<div id="hex3" class="hexagon-wrapper">
													<div id="color3" class="hexagon"><h1 id="hex_text3">{{.Kartenanz}}</h1> </div>
												</div>
								  </div>
							  </div>
						  </div>
						  
						 
							  
							  
					    <div class="column has_background_light is-paddingless lern_cards"><div class="green_line"> </div> 
									
									<div class="field is-horizontal edit_fields">
									  <div class="field-label is-normal">
										<label class="label"></label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;font-weight: bold;">
										<div class="field">
										  <p class="control">
											  
											  
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">0</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">1</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text2">2</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">3</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">4</h1> </div>
											</div>
											
											
										  </p>
										</div>
									  </div>
									</div>
									
							  		<div class="field is-horizontal edit_fields">
									  <div class="field-label is-normal">
										<label class="label">Titel</label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;font-weight: bold;">
										<div class="field">
										  <p class="control">
											<p>{{.Titel}}</p>
										  </p>
										</div>
									  </div>
									</div>

									<div class="field is-horizontal edit_fields">
									  <div class="field-label is-normal">
										<label class="label">Frage</label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;">
										<div class="field">
										  <p class="control">
											{{.Frage}}
										  </p>
										</div>
									  </div>
									</div>
									
									<div class="field is-horizontal edit_fields" style="margin-bottom: 5%">
									  <div class="field-label is-normal">
										<label class="label">Antwort</label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;">
										<div class="field">
										  <p class="control">
											{{.Antwort}}
										  </p>
										</div>
									  </div>
										
										
									</div>
					
									<div class="field is-horizontal edit_fields" style="margin-bottom: 5%">
									  <div class="field-label is-normal">
										<label class="label"></label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;">
										<div class="field">
										  <p class="control">
											<a href="l_lernen?Kasten={{.KastenID}}&Karte={{.KartenID}}&Ergebnis=1" class="button is-success" style="margin-bottom: 5%; margin-left: 25%; min-width: 20%;">Richtig</a>
											<a href="l_lernen?Kasten={{.KastenID}}&Karte={{.KartenID}}&Ergebnis=2" class="button is-danger" style="margin-bottom: 5%; margin-left: 2%;min-width: 20%;">Falsch</a>
										  </p>
										</div>
									  </div>
										
										
									</div>
						  
						  				
										
							  	 </div>


{{ end }}