{{ define "content" }}
					    <h1 class="text_headline">Karteikasten bearbeiten</h1>
						  <p>Hier kannst du eine neue Kartei erstellen oder eine vorhandene nach Bedarf bearbeiten.</p>
						  <div class="columns">
								<div class="column has-background-light Content_Box_reg is-paddingless">
									<div class="green_line"></div>
									<div class="mod_content">
										<h1 style="font-weight: bold; font-size: 20px; margin-bottom: 4%">Allgemeine Daten</h1>
										
										<div class="input_fields">
											
												<form method="POST" action="/l_meinekarteikaesten?Kasten={{.KastenID}}&Update=1">


													<div class="columns">
													  <div class="column is-2"> <label class="label">Titel</label> </div>
													  <div class="column is-6"> <input class="input" type="text" name="titel" value="{{.KastenTitel}}"> </div>
													  <div class="column">
														<p class="help is-danger "></p>
													  </div>
													</div>
										
													<div class="columns">
													  <div class="column is-2"> <label class="label">Kategorie</label> </div>
													  <div class="column is-6">
														<div class="control">
														  <div class="select is-fullwidth" style="width:100%;">
															<select name="kategorie">
														
															  <optgroup label="Naturwissenschaften">
																<option value="Biologie"						{{if eq .KastenUnterKategorie "Biologie"}}selected="selected"{{end}}>Biologie</option>
																<option value="Chemie"							{{if eq .KastenUnterKategorie "Chemie"}}selected="selected"{{end}}>Chemie</option>
																<option value="Elektrotechnik"					{{if eq .KastenUnterKategorie "Elektrotechnik"}}selected="selected"{{end}}>Elektrotechnik</option>
																<option value="Informatik" 						{{if eq .KastenUnterKategorie "Informatik"}}selected="selected"{{end}} >Informatik</option>
																<option value="Mathematik"						{{if eq .KastenUnterKategorie "Mathematik"}}selected="selected"{{end}} >Mathematik</option>
																<option value="Medizin"							{{if eq .KastenUnterKategorie "Medizin"}}selected="selected"{{end}} >Medizin</option>
																<option value="Naturkunde"						{{if eq .KastenUnterKategorie "Naturkunde"}}selected="selected"{{end}} >Naturkunde</option>
																<option value="Physik"							{{if eq .KastenUnterKategorie "Physik"}}selected="selected"{{end}} >Physik</option>
										
															  </optgroup>
															  <optgroup label="Sprachen">
																<option value="Chinesisch"						{{if eq .KastenUnterKategorie "Chinesisch"}}selected="selected"{{end}} >Chinesisch</option>
																<option value="Deutsch"							{{if eq .KastenUnterKategorie "Deutsch"}}selected="selected"{{end}} >Deutsch</option>
																<option value="Englisch"						{{if eq .KastenUnterKategorie "Englisch"}}selected="selected"{{end}} >Englisch</option>
																<option value="Französisch"						{{if eq .KastenUnterKategorie "Französisch"}}selected="selected"{{end}} >Französisch</option>
																<option value="Griechisch"						{{if eq .KastenUnterKategorie "Griechisch"}}selected="selected"{{end}} >Griechisch</option>
																<option value="Italienisch"						{{if eq .KastenUnterKategorie "Italienisch"}}selected="selected"{{end}} >Italienisch</option>
																<option value="Latein"							{{if eq .KastenUnterKategorie "Latein"}}selected="selected"{{end}} >Latein</option>
																<option value="Russisch"						{{if eq .KastenUnterKategorie "Russisch"}}selected="selected"{{end}} >Russisch</option>
										
															  </optgroup>
															  <optgroup label="Gesellschaft">
																<option value="Ethik"							{{if eq .KastenUnterKategorie "Ethik"}}selected="selected"{{end}} >Ethik</option>
																<option value="Geschichte"						{{if eq .KastenUnterKategorie "Geschichte"}}selected="selected"{{end}} >Geschichte</option>
																<option value="Literatur"						{{if eq .KastenUnterKategorie "Literatur"}}selected="selected"{{end}} >Literatur</option>
																<option value="Musik"							{{if eq .KastenUnterKategorie "Musik"}}selected="selected"{{end}} >Musik</option>
																<option value="Politik"							{{if eq .KastenUnterKategorie "Politik"}}selected="selected"{{end}} >Politik</option>
																<option value="Recht"							{{if eq .KastenUnterKategorie "Recht"}}selected="selected"{{end}} >Recht</option>
																<option value="Soziales"						{{if eq .KastenUnterKategorie "Soziales"}}selected="selected"{{end}} >Soziales</option>
																<option value="Sport"							{{if eq .KastenUnterKategorie "Sport"}}selected="selected"{{end}} >Sport</option>
																<option value="Verkehrskunde"					{{if eq .KastenUnterKategorie "Verkehrskunde"}}selected="selected"{{end}} >Verkehrskunde</option>
										
															  </optgroup>
															  <optgroup label="Wirtschaft">
																<option value="BWL"								{{if eq .KastenUnterKategorie "BWL"}}selected="selected"{{end}} >BWL</option>
																<option value="Finanzen"						{{if eq .KastenUnterKategorie "Finanzen"}}selected="selected"{{end}} >Finanzen</option>
																<option value="Landwirtschaft"					{{if eq .KastenUnterKategorie "Landwirtschaft"}}selected="selected"{{end}} >Landwirtschaft</option>
																<option value="Marketing"						{{if eq .KastenUnterKategorie "Marketing"}}selected="selected"{{end}} >Marketing</option>
																<option value="VWL"								{{if eq .KastenUnterKategorie "VWL"}}selected="selected"{{end}} >VWL</option>
										
															  </optgroup>
															  <optgroup label="Geisteswissenschaften">
																<option value="Kriminilogie"					{{if eq .KastenUnterKategorie "Kriminilogie"}}selected="selected"{{end}} >Kriminilogie</option>
																<option value="Philosophie"						{{if eq .KastenUnterKategorie "Philosophie"}}selected="selected"{{end}} >Philosophie</option>
																<option value="Psychologie"						{{if eq .KastenUnterKategorie "Psychologie"}}selected="selected"{{end}} >Psychologie</option>
																<option value="Pädagogik"						{{if eq .KastenUnterKategorie "Pädagogik"}}selected="selected"{{end}} >Pädagogik</option>
																<option value="Theologie"						{{if eq .KastenUnterKategorie "Theologie"}}selected="selected"{{end}} >Theologie</option>
										
															  </optgroup>
															  <optgroup label="Sonstige">
																<option value="Sonstige"						{{if eq .KastenUnterKategorie "Sonstige"}}selected="selected"{{end}} >Sonstige</option>
															  </optgroup>
										
										
															</select>
														  </div>
														</div>
										
										
													  </div>
													  <div class="column">
														<p class="help is-danger" style="text-align: left;"></p>
													  </div>
													</div>
										
													<div class="columns">
													  <div class="column is-2"> <label class="label">Beschreibung</label> </div>
													  <div class="column is-6 "> <textarea class="textarea" name="beschreibung" placeholder="Beschreibung">{{.KastenBeschr}}</textarea> </div>
													  <div class="column">
														<p class="help is-danger "></p>
													  </div>
													</div>
										
													<div class="columns">
													  <div class="column is-2"> <label class="label"> Sichtbarkeit </label> </div>
													  <div class="column is-6">
														<div class="control">
														  <label class="radio">
															<input type="radio" name="answer" value="Öffentlich" >
															Öffentlich
														  </label>
														  <label class="radio" style="margin-left: 10%;">
															<input type="radio" name="answer" value="Privat" checked>
															Privat
														  </label>
														</div>
													  </div>
													  <div class="column">
														<p class="help is-danger "></p>
													  </div>
													</div>
										
													<div class="columns">
													  <div class="column is-2"> <label class="label"></label> </div>
													  <div class="column is-6"> <button type="submit" class="button is-warning text_white" style="margin-right: 15%; text-align: centered;"><b>Speichern und weiter</b></div>
													  <div class="column"></div>
													</div>
										</form>
										</div>
										
									
									</div>
								
								
								</div>
					    </div>


{{ end }}