{{ define "layout" }}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>BrainTrain</title>
		<link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		<link rel="stylesheet" href="/css/styles.css"> <!-- CSS eingebunden-->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="favicons/favicon.ico">
	</head>


	<body >
		
<!-- Navbar -->
			<nav class="navbar is-transparent ">
				<div class="container has_background_primary_green">
					<div class="navbar-brand has_background_secondary_green is-marginless" style="width: 20%">
						<a class="navbar-item" href="l_home" >
							<img src="/logo/Logo.svg"/>
							<h1 class="text_Logo" ><span>Brain</span>Train</h1>
						</a>
						
					</div>
				
					<div id="navbarExampleTransparentExample " class="navbar-menu is-marginless">
						<div class="navbar-start">
							<a class="navbar-item" href="https://bulma.io/">
								
							</a>
						</div>
				
						<div class="navbar-end">
						   <div class="navbar-item">
						   		<a href="l_modkarteikasten1" style="margin-right: 100px" class="button is-warning head_element">Neue Kartei</a>
								
							   	<div class="columns" style="text-align: right">
							   		<div class="column">
										<p class="text_color_black"><nobr>Max Mustermann</nobr></p>
										<a href="nl_home" class="text_color_black"><p class="logout_text">Logout</p></a>
									</div>
							   		<div class="column profil_pic" >
										<img  src="/icons/Mein-Profil.svg"/>
									</div>
							    </div>
						
						   </div>
	 					</div>
					</div> 
				</div>
			</nav>
<!-- /Navbar -->		
	
<!--  MENU  -->
			  <section class="container has_background_primary_blue">
				
			    <div class="columns is-marginless text_color_white">
					  <div class="column container is-one-fifth col_menu">
						  <aside class="menu">
						    <ul class="menu-list ">
								<li>
									<a href="l_home" class="menuitem text_color_white">
										<div class="columns">
											<div class="column is-2"><img class="menu_icon" src="/icons/Home.svg"/></div>
											<div class="column"><p >Home</p></div>
										</div>
									</a>
							    </li>
								
								<li>
									<a href="l_karteikaesten" class="menuitem text_color_white">
										<div class="columns">
											<div class="column is-2"><img class="menu_icon" src="/icons/Karteikasten.svg"/></div>
											<div class="column"><p >Karteikasten</p></div>
											<div class="column is-2"><span class="tag is-success">22</span></div>
										</div>
									</a>
							    </li>
								
								
								<li>
									<a href="l_meinekarteikaesten" class="menuitem text_color_white">
										<div class="columns">
											<div class="column is-2"><img class="menu_icon" src="/icons/Meine-Karteien.svg"/></div>
											<div class="column"><p >Meine Karteikästen</p></div>
											<div class="column is-2"><span class="tag is-success">3</span></div>
										</div>
									</a>
							    </li>
								
								<li>
									<a href="l_meinprofil" class="menuitem text_color_white">
										<div class="columns">
											<div class="column is-2"><img class="menu_icon" src="/icons/Mein-Profil.svg"/></div>
											<div class="column"><p >Mein Profil</p></div>
										</div>
									</a>
							    </li>
								
							  </ul>					  
						  </aside>
					</div>
<!--  /MENU  -->
					  
					  <div class="column is-marginles has_background_primary_grey text_color_black col_content">
<!-- CONTENT -->		
						{{ template "content" }}  
<!-- /CONTENT -->					  
					  </div>
				  </div>
					
					
				
			  </section>
		<!-- /section -->

	</body>
</html>
{{ end }}
