{{ define "content" }}
						<h1 class="text_headline">Karteikasten anschauen</h1>
					    <p>Hier kannst du dir beliebeige Karteikarten anscheuen ohne Sie zu bearbeiten.</p>
						  	
							{{range .AktuellerKarteikasten}}
						  <div class="has_background_light uebersicht" >
							  <div class="green_line"></div>
							  
							  <div class="columns">
							  		<div class="column is-2">
								  		<p  class="card_number">Name</p>
										<h1 class="card_titel"> {{.Titel}} </h1>
								  	</div>
								  
								  	<div class="column">
								  		<p  class="card_number">Kategorie</p>
										<h1 class="card_titel">{{.Kategorie}} <i class="fas fa-caret-right"></i> {{.Unterkategorie}}</h1>					  
								  	</div>
								  
								  	<div class="column is-2">
								  		<p  class="card_number"> Fortschritt</p>
										<h1 class="card_titel">{{.FortschrittP}}%</h1>
								  	</div>
								  	
								  <div class="column is-2">  <a class="button is-success is-small btm_bearbeiten_head">Bearbeiten</a> </div>
								  <div class="column is-2 is-paddingless">
								  				<div id="hex1" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">{{.Anzahl}}</h1> </div>
												</div>
								  </div>
							  </div>
							</div>
							{{end}}
						  
						  <div class="columns is-marginless text_karten">
							  	<div class="column  is-paddingless is-3 card_container"> 
							  		<div class="columns is-marginless text_karten is-multiline">
										<!-- Karteikarten -->

										{{range .AlleKarten}}
										<div class="column has_background_light is-paddingless is-12 card"> 		<div class="green_line"> </div>
											 <a class="text_color_black" href="l_showKarteikarten?Num={{.Num}}"><p class="card_number"># {{.Num}}</p></a>
											<h1 class="card_titel" style="margin-bottom: 10%">{{.Titel}}</h1>
									  </div>
					  			  {{end}}
							  			
									</div>
							  	</div>
							  
						{{range .AktuelleKarte}}
							    <div class="column has_background_light is-paddingless edit_cards"><div class="green_line"> </div> 
									
									<div class="field is-horizontal edit_fields">
									  <div class="field-label is-normal">
										<label class="label"></label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;font-weight: bold;">
										<div class="field">
										  <p class="control">
											  
											  
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">0</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">1</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text2">2</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">3</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">4</h1> </div>
											</div>
											
											
										  </p>
										</div>
									  </div>
									</div>
									
							  		<div class="field is-horizontal edit_fields">
									  <div class="field-label is-normal">
										<label class="label">Titel</label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;font-weight: bold;">
										<div class="field">
										  <p class="control">
											<p>{{.Titel}}</p>
										  </p>
										</div>
									  </div>
									</div>

									<div class="field is-horizontal edit_fields">
									  <div class="field-label is-normal">
										<label class="label">Frage</label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;">
										<div class="field">
										  <p class="control">
												{{.Frage}}
										  </p>
										</div>
									  </div>
									</div>
									
									<div class="field is-horizontal edit_fields" style="margin-bottom: 5%">
									  <div class="field-label is-normal">
										<label class="label">Antwort</label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;">
										<div class="field">
										  <p class="control">
												{{.Antwort}}
										  </p>
										</div>
									  </div>
									</div>
										
									 </div>
									
							  
							  	<script>
											var simplemde = new SimpleMDE({ element: document.getElementById("textarea_frage") });
											var simplemde2 = new SimpleMDE({ element: document.getElementById("textarea_antwort") });
								</script>	
						  		
							</div>
							{{end}}
{{ end }}
