{{ define "content" }}
						<h1 class="text_headline">Karteikasten anschauen</h1>
					    <p>Hier kannst du dir beliebeige Karteikarten anscheuen ohne Sie zu bearbeiten.</p>
						  	
						  <div class="has_background_light uebersicht" >
							  <div class="green_line"></div>
							  
							  <div class="columns">
							  		<div class="column is-2">
								  		<p  class="card_number">Name</p>
										<h1 class="card_titel">Geometrie</h1>
								  	</div>
								  
								  	<div class="column">
								  		<p  class="card_number">Kategorie</p>
										<h1 class="card_titel">Naturwissenschaft <i class="fas fa-caret-right"></i> Mathematik</h1>					  
								  	</div>
								  
								  	<div class="column is-2">
								  	  <p class="card_number">Erstellt von</p>
								  	  <h1 class="card_titel">Gunter Müller</h1>
								  	</div>
								  	
								  <div class="column is-2">
								  	  <p class="card_number">Fortschriit</p>
								  	  <h1 class="card_titel">12%</h1>
								  </div>
								  <div class="column is-2 is-paddingless">
								  				<div id="hex1" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
												</div>
								  </div>
							  </div>
						  </div>
						  
						  <div class="columns is-marginless text_karten">
							  	<div class="column  is-paddingless is-3 card_container"> 
							  		<div class="columns is-marginless text_karten is-multiline">
										<!-- Karteikarten -->
							  			<div class="column has_background_light is-paddingless is-12 card"> 		<div class="green_line"> </div>
											<p  class="card_number">#1</p>
											<h1 class="card_titel" style="margin-bottom: 10%">Titel der Karte</h1>
										</div>
										
										<div class="column has_background_light is-paddingless is-12 card"> 		<div class="green_line"> </div>
											<p  class="card_number">#2</p>
											<h1 class="card_titel" style="margin-bottom: 10%">Titel der Karte</h1>
										</div>
										
										<div class="column has_background_light is-paddingless is-12 card"> 		<div class="green_line"> </div>
											<p  class="card_number">#3</p>
											<h1 class="card_titel" style="margin-bottom: 10%">Titel der Karte</h1>
										</div>
										
										<div class="column has_background_light is-paddingless is-12 card"> 		<div class="green_line"> </div>
											<p  class="card_number">#4</p>
											<h1 class="card_titel" style="margin-bottom: 10%">Titel der Karte</h1>
										</div>
										
										
										
									</div>
							  	</div>
							  
							  
							    <div class="column has_background_light is-paddingless edit_cards"><div class="green_line"> </div> 
									
									<div class="field is-horizontal edit_fields">
									  <div class="field-label is-normal">
										<label class="label"></label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;font-weight: bold;">
										<div class="field">
										  <p class="control">
											  
											  
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">0</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">1</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text2">2</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">3</h1> </div>
											</div>
											
											<div id="hex2" class="hexagon-wrapper">
													<div id="color2" class="hexagon"><h1 id="hex_text2">4</h1> </div>
											</div>
											
											
										  </p>
										</div>
									  </div>
									</div>
									
							  		<div class="field is-horizontal edit_fields">
									  <div class="field-label is-normal">
										<label class="label">Titel</label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;font-weight: bold;">
										<div class="field">
										  <p class="control">
											<p>Titel der Karte</p>
										  </p>
										</div>
									  </div>
									</div>

									<div class="field is-horizontal edit_fields">
									  <div class="field-label is-normal">
										<label class="label">Frage</label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;">
										<div class="field">
										  <p class="control">
											Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
										  </p>
										</div>
									  </div>
									</div>
									
									<div class="field is-horizontal edit_fields" style="margin-bottom: 5%">
									  <div class="field-label is-normal">
										<label class="label">Antwort</label>
									  </div>
									  <div class="field-body" style="padding-top: 1%;">
										<div class="field">
										  <p class="control">
											Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
										  </p>
										</div>
									  </div>
									</div>
										
							  	 </div>
							  
							  	<script>
											var simplemde = new SimpleMDE({ element: document.getElementById("textarea_frage") });
											var simplemde2 = new SimpleMDE({ element: document.getElementById("textarea_antwort") });
								</script>	
						  		
						  </div>


{{ end }}