{{ define "content" }}
<h1 class="text_headline">Karteikästen</h1>
<h1 class="text_headline_klein">Im Karteikasten findest du alle öffentlichen Karteien</h1>

<div class="dropdown_sort">
	<!-- SUCHE
								<div class="suche is-pulled-right">
										<input class="input" type="text" placeholder="Suche ...">
								</div>
							-->

	<!-- DROPDOWN -->
	<div class="dropdown is-right is-active is-pulled-right">
		<div class="dropdown-trigger">
		</div>
		<div class="dropdown-menu" id="dropdown-menu6" role="menu">

			<form class="is-pulled-right" method="POST" action="/nl_karteikaesten">
				<div class="control is-pulled-right">
					<div class="select" style="width:100%;">
						<select name="kategorie" onchange="this.form.submit()">
							<option value="Alle">Filtern nach ...</option>
							<optgroup label="Hauptkategorien">
								<option value="Naturwissenschaften">Naturwissenschaften</option>
								<option value="Sprachen">Sprachen</option>
								<option value="Gesellschaft">Gesellschaft</option>
								<option value="Wirtschaft">Wirtschaft</option>
								<option value="Geisteswissenschaften">Geisteswissenschaften</option>
								<option value="Sonstige">Sonstige</option>

							<optgroup label="Naturwissenschaften">
								<option value="Biologie">Biologie</option>
								<option value="Chemie">Chemie</option>
								<option value="Elektrotechnik">Elektrotechnik</option>
								<option value="Informatik">Informatik</option>
								<option value="Mathematik">Mathematik</option>
								<option value="Medizin">Medizin</option>
								<option value="Naturkunde">Naturkunde</option>
								<option value="Physik">Physik</option>

							</optgroup>
							<optgroup label="Sprachen">
								<option value="Chinesisch">Chinesisch</option>
								<option value="Deutsch">Deutsch</option>
								<option value="Englisch">Englisch</option>
								<option value="Französisch">Französisch</option>
								<option value="Griechisch">Griechisch</option>
								<option value="Italienisch">Italienisch</option>
								<option value="Latein">Latein</option>
								<option value="Russisch">Russisch</option>

							</optgroup>
							<optgroup label="Gesellschaft">
								<option value="Ethik">Ethik</option>
								<option value="Geschichte">Geschichte</option>
								<option value="Literatur">Literatur</option>
								<option value="Musik">Musik</option>
								<option value="Politik">Politik</option>
								<option value="Recht">Recht</option>
								<option value="Soziales">Soziales</option>
								<option value="Sport">Sport</option>
								<option value="Verkehrskunde">Verkehrskunde</option>

							</optgroup>
							<optgroup label="Wirtschaft">
								<option value="BWL">BWL</option>
								<option value="Finanzen">Finanzen</option>
								<option value="Landwirtschaft">Landwirtschaft</option>
								<option value="Marketing">Marketing</option>
								<option value="VWL">VWL</option>

							</optgroup>
							<optgroup label="Geisteswissenschaften">
								<option value="Kriminilogie">Kriminilogie</option>
								<option value="Philosophie">Philosophie</option>
								<option value="Psychologie">Psychologie</option>
								<option value="Pädagogik">Pädagogik</option>
								<option value="Theologie">Theologie</option>

							</optgroup>
							<optgroup label="Sonstige">
								<option value="Sonstige">Sonstige</option>
							</optgroup>


						</select>
					</div>

				</div>

			</form>
			<!--		<div class="dropdown-content">


										  <div class="dropdown-item">
											<p> Kartenanzahl</p>
										  </div>

										  <div class="dropdown-item">
											<p> Kategorien</p>
										  </div>

										  <div class="dropdown-item">
											<p> A - Z</p>
										  </div>

										  <div class="dropdown-item">
											<p> Z - A</p>
										  </div>

										</div>

								-->
		</div>
	</div>
</div>


<!-- Karteikästen -->
<div class="columns is-multiline">

	<!-- Naturwissenschaften -->
	<div class="column is-12 kategorie_head"> Naturwissenschaften</div>
	{{range .Naturwissenschaften}}

	<div class="column is-one-quarter kartei">

		<div class="has_background_primary_green kartei_head">{{.Unterkategorie}}</div>

		<div class="has_background_light kartei">
			<div class="columns">
				<div class="column">
					<h1 class="kartei_content_head text_color_black">{{.Titel}}</h1>
				</div>
				<div class="column is-5 is-paddingless">

					<div id="hex1_kk" class="hexagon-wrapper">
						<div id="color1" class="hexagon">
							<h1 id="hex_text">{{.Anzahl}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="has_background_light kartei">
			<p class="kartei_content">
				{{.Beschreibung}}
			</p>

		</div>


	</div>
	{{end}}
	<!-- /Naturwissenschaften -->



	<!-- Sprachen -->
	<div class="column is-12 kategorie_head"> Sprachen</div>
	{{range .Sprachen}}

	<div class="column is-one-quarter kartei">

		<div class="has_background_primary_green kartei_head">{{.Unterkategorie}}</div>

		<div class="has_background_light kartei">
			<div class="columns">
				<div class="column">
					<h1 class="kartei_content_head text_color_black">{{.Titel}}</h1>
				</div>
				<div class="column is-5 is-paddingless">

					<div id="hex1_kk" class="hexagon-wrapper">
						<div id="color1" class="hexagon">
							<h1 id="hex_text">{{.Anzahl}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="has_background_light kartei">
			<p class="kartei_content">
				{{.Beschreibung}}
			</p>

		</div>


	</div>
	{{end}}
	<!-- /Sprachen -->

	<!-- Gesellschaft -->
	<div class="column is-12 kategorie_head"> Gesellschaft</div>
	{{range .Gesellschaft}}

	<div class="column is-one-quarter kartei">

		<div class="has_background_primary_green kartei_head">{{.Unterkategorie}}</div>

		<div class="has_background_light kartei">
			<div class="columns">
				<div class="column">
					<h1 class="kartei_content_head text_color_black">{{.Titel}}</h1>
				</div>
				<div class="column is-5 is-paddingless">

					<div id="hex1_kk" class="hexagon-wrapper">
						<div id="color1" class="hexagon">
							<h1 id="hex_text">{{.Anzahl}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="has_background_light kartei">
			<p class="kartei_content">
				{{.Beschreibung}}
			</p>

		</div>


	</div>
	{{end}}
	<!-- /Gesellschaft -->

	<!-- Wirtschaft -->
	<div class="column is-12 kategorie_head"> Wirtschaft</div>
	{{range .Wirtschaft}}

	<div class="column is-one-quarter kartei">

		<div class="has_background_primary_green kartei_head">{{.Unterkategorie}}</div>

		<div class="has_background_light kartei">
			<div class="columns">
				<div class="column">
					<h1 class="kartei_content_head text_color_black">{{.Titel}}</h1>
				</div>
				<div class="column is-5 is-paddingless">

					<div id="hex1_kk" class="hexagon-wrapper">
						<div id="color1" class="hexagon">
							<h1 id="hex_text">{{.Anzahl}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="has_background_light kartei">
			<p class="kartei_content">
				{{.Beschreibung}}
			</p>

		</div>


	</div>
	{{end}}
	<!-- /Wirtschaft -->

	<!-- Geisteswissenschaften -->
	<div class="column is-12 kategorie_head"> Geisteswissenschaften</div>
	{{range .Geisteswissenschaften}}

	<div class="column is-one-quarter kartei">

		<div class="has_background_primary_green kartei_head">{{.Unterkategorie}}</div>

		<div class="has_background_light kartei">
			<div class="columns">
				<div class="column">
					<h1 class="kartei_content_head text_color_black">{{.Titel}}</h1>
				</div>
				<div class="column is-5 is-paddingless">

					<div id="hex1_kk" class="hexagon-wrapper">
						<div id="color1" class="hexagon">
							<h1 id="hex_text">{{.Anzahl}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="has_background_light kartei">
			<p class="kartei_content">
				{{.Beschreibung}}
			</p>

		</div>


	</div>
	{{end}}
	<!-- /Geisteswissenschaften -->

	<!-- Sonstige -->
	<div class="column is-12 kategorie_head"> Sonstige</div>
	{{range .Sonstige}}

	<div class="column is-one-quarter kartei">

		<div class="has_background_primary_green kartei_head">{{.Unterkategorie}}</div>

		<div class="has_background_light kartei">
			<div class="columns">
				<div class="column">
					<h1 class="kartei_content_head text_color_black">{{.Titel}}</h1>
				</div>
				<div class="column is-5 is-paddingless">

					<div id="hex1_kk" class="hexagon-wrapper">
						<div id="color1" class="hexagon">
							<h1 id="hex_text">{{.Anzahl}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="has_background_light kartei">
			<p class="kartei_content">
				{{.Beschreibung}}
			</p>

		</div>



	</div>
	{{end}}
	<!-- /Sonstige -->
</div>



{{ end }}