{{ define "content" }}
						  	<h1 class="text_headline">Karteikästen</h1>
							<h1 class="text_headline_klein">Im Karteikasten findest du alle öffentlichen Karteien</h1>
						  	
						  <div class="dropdown_sort">
							  <!-- SUCHE -->
								<div class="suche is-pulled-right">
										<input class="input" type="text" placeholder="Suche ...">
								</div>


							  <!-- DROPDOWN -->
									<div class="dropdown is-right is-active is-pulled-right">
									  <div class="dropdown-trigger">
										<button class="button dropdown_btn" aria-haspopup="true" aria-controls="dropdown-menu6">
										  <span>sortieren nach ...</span>
										  <span class="icon is-small">
											<i class="fas fa-angle-down" aria-hidden="true"></i>
										  </span>
										</button>
									  </div>
									  <div class="dropdown-menu" id="dropdown-menu6" role="menu">
								<!--		<div class="dropdown-content">


										  <div class="dropdown-item">
											<p> Kartenanzahl</p>
										  </div>	

										  <div class="dropdown-item">
											<p> Kategorien</p>
										  </div>

										  <div class="dropdown-item">
											<p> A - Z</p>
										  </div>

										  <div class="dropdown-item">
											<p> Z - A</p>
										  </div>

										</div>

								-->
									  </div>
									</div>
								</div>
						  
						  
						<!-- Karteikästen -->
						  
						  <div class="columns is-multiline">
							<div class="column is-12 kategorie_head"> Naturwissenschaften</div>
						  	<div class="column is-one-quarter kartei">
								<div class="has_background_primary_green kartei_head">Mathematik</div>
								<div class="has_background_light kartei">
									<div class="columns">
										<div class="column"><h1 class="kartei_content_head"><a class="text_color_black" href="nl_showKarteikarten">Geometrische Formen und Körper</a></h1></div>
										<div class="column is-5 is-paddingless">
											
  												<div id="hex1_kk" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
												</div>
  
											
										</div>
									</div>
									
								</div>
								
								<div class="has_background_light kartei">
									<p class="kartei_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
								
								</div>
								
								<div class="has_background_light kartei"> </div>
							</div>

							  
						  	<div class="column is-one-quarter kartei">
								
								<div class="has_background_primary_green kartei_head">Chemie</div>
								
								<div class="has_background_light kartei">
								  <div class="columns">
										<div class="column">
										  <h1 class="kartei_content_head">Atome A-Z</h1>
										</div>
										<div class="column is-5 is-paddingless">
											
  												<div id="hex1_kk" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
												</div>
  
											
										</div>
								  </div>
								</div>
								
								<div class="has_background_light kartei">
									<p class="kartei_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
								
								</div>
								
								<div class="has_background_light kartei"> </div>
							</div>							  
							  
						  	<div class="column is-one-quarter kartei">
								<div class="has_background_primary_green kartei_head">Physik</div>
								<div class="has_background_light kartei">
								  <div class="columns">
										<div class="column">
										  <h1 class="kartei_content_head">Licht in Wellen und Teilchen - Modelle und versuche</h1>
										</div>
										<div class="column is-5 is-paddingless">
											
  												<div id="hex1_kk" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
										  </div>
  
											
									</div>
								  </div>
								</div>
								
								<div class="has_background_light kartei">
									<p class="kartei_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
								
								</div>
								
								<div class="has_background_light kartei"> </div>
							</div>							  
							
						  	<div class="column is-one-quarter kartei">
								<div class="has_background_primary_green kartei_head">Mathematik</div>
								<div class="has_background_light kartei">
								  <div class="columns">
										<div class="column">
										  <h1 class="kartei_content_head">das kleine 1x1</h1>
										</div>
										<div class="column is-5 is-paddingless">
											
  												<div id="hex1_kk" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
												</div>
  
											
										</div>
								  </div>
								</div>
								
								<div class="has_background_light kartei">
									<p class="kartei_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
								
								</div>
								
								<div class="has_background_light kartei"> </div>
							</div>							
							  
						  	<div class="column is-one-quarter kartei">
							  <div class="has_background_primary_green kartei_head">Mathematik</div>
								<div class="has_background_light kartei">
								  <div class="columns">
										<div class="column">
										  <h1 class="kartei_content_head">Analysis</h1>
										</div>
										<div class="column is-5 is-paddingless">
											
  												<div id="hex1_kk" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
										  </div>
  
											
									</div>
								  </div>
								</div>
								
								<div class="has_background_light kartei">
									<p class="kartei_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
								
								</div>
								
								<div class="has_background_light kartei"> </div>
							</div>
							  
							<div class="column is-12 kategorie_head"> Sprachen</div>
							  
						  	<div class="column is-one-quarter kartei">
							  <div class="has_background_primary_green kartei_head">Latein</div>
								<div class="has_background_light kartei">
								 <div class="columns">
										<div class="column">
										  <h1 class="kartei_content_head">Vokabeln 1</h1>
										</div>
										<div class="column is-5 is-paddingless">
											
  												<div id="hex1_kk" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
										  </div>
  
											
								   </div>
								  </div>
								</div>
								
								<div class="has_background_light kartei">
									<p class="kartei_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
								
								</div>
								
								<div class="has_background_light kartei"> </div>
							</div>
							  
						  	<div class="column is-one-quarter kartei">
							  <div class="has_background_primary_green kartei_head">Englisch</div>
								<div class="has_background_light kartei">
								  <div class="columns">
										<div class="column">
										  <h1 class="kartei_content_head">Unit 2</h1>
										</div>
										<div class="column is-5 is-paddingless">
											
  												<div id="hex1_kk" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
										  </div>
  
											
									</div>
								  </div>
								</div>
								
								<div class="has_background_light kartei">
									<p class="kartei_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
								
								</div>
</div>	
							  
							  
							  
							<div class="column is-12 kategorie_head"> Sonstige </div>
							  
						  	<div class="column is-one-quarter kartei">
							  <div class="has_background_primary_green kartei_head">Holzarten</div>
								<div class="has_background_light kartei">
								  <div class="columns">
										<div class="column"><h1 class="kartei_content_head">Einsatzbereich</h1></div>
										<div class="column is-5 is-paddingless">
											
  												<div id="hex1_kk" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
												</div>
  
											
										</div>
									</div>
								</div>
								
								<div class="has_background_light kartei">
									<p class="kartei_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
								
								</div>
								
								<div class="has_background_light kartei"> </div>
							</div>
							  
						  	<div class="column is-one-quarter kartei">
							  <div class="has_background_primary_green kartei_head">Die Flache Erde</div>
								<div class="has_background_light kartei">
									<div class="columns">
										<div class="column"><h1 class="kartei_content_head">Argumente gegen den Erd"BALL"</h1></div>
										<div class="column is-5 is-paddingless">
											
  												<div id="hex1_kk" class="hexagon-wrapper">
													<div id="color1" class="hexagon"><h1 id="hex_text">22</h1> </div>
												</div>
  
										</div>
									</div>
								  
								</div>
								
								<div class="has_background_light kartei">
									<p class="kartei_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
								
								</div>
								
							</div>
	</div>

{{ end }}				