

.Content_Box{
	text-align: left;
	margin: 30px;
	margin-top: 30px;
	
}


.text_headline{
	margin-left: 20px;
	font-size: 30px;
	font-weight: bold;
}

.text_registrieren{
	padding: 12px;
}

.info_text{
	font-size: 14px; 
}



.input_fields{
	margin-left:10%;
	margin-top: 30px;
	margin-bottom: 30px;
}



.input_field{
	max-width: 400px;
}

.btn_registrieren{
	width: 50%
}


